{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <body class="bg-gray-900 ">
        <div class="navbar-brand ">
            <a href="{{ path('app_home') }}">Home</a>
            <a href="{{ path('app_login') }}">Connexion</a>
            <a href="{{ path('app_register') }}">Register</a>
        </div>
    </body>

{% endblock %}
