{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <body class="bg-gray-300 h-screen font-semibold ">
        {% include 'base/index.html.twig' %}

        <main class="relative h-full w-full">
            <section class=" h-1/4 flex align-middle">
                <p class="m-auto text-3xl text-green-700">Bienvenue sur mon blog recette {{ user }}</p>
            </section>

            <section class="">
                <div class="px-6">Top recette</div>
                    <div id="test" class="w-full h-full m-auto flex flex-wrap justify-evenly">
                        {%  for recette in recettes %}
                            <div class="w-1/4 h-full" {{ react_component('Card', {'name' : recette.name, 'time' : recette.toStringTime, 'desc': recette.description}) }}></div>
                        {% endfor %}
                    </div>
            </section>
        </main>

    {% include 'base/footer.html.twig' %}
    </body>

{% endblock %}
